---
layout: default

---

<div class="home">
    
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{background:#fff; clear:left; font:14px; width:100%;}
/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//compiler.us14.list-manage.com/subscribe/post?u=83dad32003c2669592d5c0b95&amp;id=4c248b74cc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Join the change-makers and do-ers that are transforming government from the inside out - subscribe to hear about future events!</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_83dad32003c2669592d5c0b95_4c248b74cc" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
<br />
</div>
<!--End MailChimpSignup Form-->
    
    {% capture currentDate %}{{'now' | date: '%s' | minus: 68400}}{% endcapture %}

    <div class="clearfix">

<!-- List Upcoming Events -->
      <h1 class="event-time-heading fix-top">Upcoming {% if site.event_label %} {{site.event_label}} {% else %} Events {% endif %} </h1>

      {% for post in site.posts reversed %}

        {% capture blogDate %}{{post.date | date: '%s' }}{% endcapture %}
        {% assign location = site.data.locations[post.location] %}

        {% if blogDate >= currentDate %}
      
          <a href="{{ post.url | prepend: site.baseurl }}">
          {% if location.image %}
            <div class="event-square" style="background-image:url({{location.image}});">
          {% else if post.cover %}
            <div class="event-square" style="background-image:url({{post.cover}});">
          {% else %}
            <div class="event-square" style="background-image:url(http://evento.io/img/cover.jpg);">
          {% endif %}
              <h2>{{ post.title }} <span>{{ post.date | date: "%b %-d, %Y" }}</span></h2>
               <div class='event-square-overlay'></div>
            </div>
           
          </a>

        {% endif %}

      {% endfor %}
    </div>
    <div class="clearfix">

<!-- List Past Events -->
      <h1 class="event-time-heading">Past {% if site.event_label %} {{site.event_label}} {% else %} Events {% endif %} </h1>
      {% for post in site.posts %}

        {% capture blogDate %}{{post.date | date: '%s' }}{% endcapture %}

        {% if blogDate < currentDate %}

          <a href="{{ post.url | prepend: site.baseurl }}">
            {% if post.cover %}
            <div class="event-square" style="background-image:url({{post.cover}});">
            {% else %}
            <div class="event-square" style="background-image:url(http://app-beacon.com/wp-content/uploads/2015/05/events.jpg);">
            {% endif %}
              <h2>{{ post.title }} <span>{{ post.date | date: "%b %-d, %Y" }}</span></h2>
              <div class='event-square-overlay'></div>
            </div>
            
          </a>

        {% endif %}

      {% endfor %}
      
    </div>

</div>
