---
layout: default

---

<div class="home">
  <!--
  <div style="text-align: center;">
    <img src="{{site.baseurl}}/images/schoolofdata-logo.png" />
    <br>It's finally here! We're hosting a 2-day training conference on Jan 31-Feb 1 in Downtown LA. Tracks include: Analysts, Systems, Managers/Electeds.  Connect with your peers in government to learn about tools, policy, and more!
    
    <br><br><a href="https://schoolofdata.la" style="display: inline-block; background: #aaa; border-radius: 10px; padding: 20px 30px; color: #fff;"><strong>Apply for School of Data 2019!</strong></a>
    <hr style="margin-top: 40px;">
  </div>
-->

<!--- Start of Hubspot Form -->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
<script>
  hbspt.forms.create({
    region: "na1",
    portalId: "44883583",
    formId: "31e867be-3530-4ac1-8e34-00e62604dee3"
  });
</script>
<!--- End of Hubspot Form -->


    {% capture currentDate %}{{'now' | date: '%s' | minus: 68400}}{% endcapture %}

    <div class="clearfix">

<!-- List Upcoming Events -->
      <h1 class="event-time-heading fix-top">Upcoming {% if site.event_label %} {{site.event_label}} {% else %} Events {% endif %} </h1>

      {% for post in site.posts reversed %}

        {% capture blogDate %}{{post.date | date: '%s' }}{% endcapture %}
        {% assign location = site.data.locations[post.location] %}

        {% if blogDate >= currentDate %}
      
          <a href="{{ post.url | prepend: site.baseurl }}">
          {% if location.image %}
            <div class="event-square" style="background-image:url({{location.image}});">
          {% else if post.cover %}
            <div class="event-square" style="background-image:url({{post.cover}});">
          {% else %}
            <div class="event-square" style="background-image:url(http://evento.io/img/cover.jpg);">
          {% endif %}
              <h2>{{ post.title }} <span>{{ post.date | date: "%A, %b %-d, %Y" }}</span></h2>
               <div class='event-square-overlay'></div>
            </div>
           
          </a>

        {% endif %}

      {% endfor %}
    </div>
    <div class="clearfix">

<!-- List Past Events -->
      <h1 class="event-time-heading">Past {% if site.event_label %} {{site.event_label}} {% else %} Events {% endif %} </h1>
      {% for post in site.posts %}

        {% capture blogDate %}{{post.date | date: '%s' }}{% endcapture %}

        {% if blogDate < currentDate %}

          <a href="{{ post.url | prepend: site.baseurl }}">
             <div>
              <h2><span>{{ post.date | date: "%A, %b %-d, %Y" }}</span> w/ 
              {% assign n = post.speakers.size %}
              {% assign n-commas = n | minus: 1 %}
              {% for counter in (0..n) %}
                {{ post.speakers[counter] }}{% if counter < n-commas %}, {% endif %}
              {% endfor %}</h2>
             </div>           
          </a>

        {% endif %}

      {% endfor %}
      
    </div>

</div>
