<!DOCTYPE html>
<html>
  {% include "head" %}

  <body>

    {% include "header" %}
    {% assign location = locations[location] %}

{% if location %}
  <div class="cover location" style="background-image:url(/images/{{location.image}});"></div>
{% else %}
  <div class="cover cover-home" style="background-image:url(/images/{{ site.cover }});"></div>
{% endif %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include "footer" %}

  </body>
</html>
