<!DOCTYPE html>
<html>
  {% include "head.html" %}

  <body>

    {% include "header.html" %}
    {% assign location = locations[location] %}

{% if location %}
  <div class="blog-cover location" style="background-image:url(/images/{{location.image}});"></div>
{% else %}
  <div class="blog-cover blog-cover-home" style="background-image:url(/images/{{ site.cover }});">
{% endif %}
  </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include "footer.html" %}

  </body>
</html>
