:root {
  --base-font-family: "Raleway", Helvetica, Arial, sans-serif;
  --base-font-size: 16px;
  --base-font-weight: 400;
  --header-font-weight: 700;
  --small-font-size: calc(var(--base-font-size) * 0.875);
  --base-line-height: 1.5;
  --footer-image-height: 60px;
  --spacing-unit: 30px;
  --text-color: #111111;
  --background-color: #fdfdfd;
  --brand-color: #2a7ae2;
  --grey-color: #828282;
  --grey-color-light: #e8e8e8;
  --grey-color-dark: #424242;
  --content-width: 800px;
  --on-palm: 600px;
  --on-laptop: 800px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

body {
  font: var(--base-font-weight) var(--base-font-size)/var(--base-line-height) var(--base-font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ul,
ol,
dl,
figure {
  margin-bottom: 15px;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

figcaption {
  font-size: var(--small-font-size);
}

ul,
ol {
  margin-left: var(--spacing-unit);
}

li > ul,
li > ol {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--header-font-weight);
}

a {
  color: var(--brand-color);
  text-decoration: none;
}

a:visited {
  color: var(--brand-color);
}

a:hover {
  color: var(--text-color);
  text-decoration: underline;
}

blockquote {
  color: var(--grey-color);
  border-left: 4px solid var(--grey-color-light);
  padding-left: calc(var(--spacing-unit) / 2);
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}

blockquote > :last-child {
  margin-bottom: 0;
}

.wrapper {
  max-width: calc(var(--content-width) - (var(--spacing-unit) * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--spacing-unit);
  padding-left: var(--spacing-unit);
}

.wrapper::after {
  content: "";
  display: table;
  clear: both;
}

.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.icon > svg path {
  fill: var(--grey-color);
}

.site-header {
  border-top: 5px solid var(--grey-color-dark);
  border-bottom: 1px solid var(--grey-color-light);
  min-height: 56px;
  position: relative;
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}

.site-title,
.site-title:visited {
  color: var(--grey-color-dark);
}

.site-nav {
  float: right;
  line-height: 56px;
}

.site-nav .menu-icon {
  display: none;
}

.site-nav .page-link {
  color: var(--text-color);
  line-height: var(--base-line-height);
}

.site-nav .page-link:not(:last-child) {
  margin-right: 20px;
}

.button.button-primary {
  color: #ffffff;
  background: #965cb8;
  box-shadow: #324832 0 2px 0 0;
  padding: 10px 16px 8px 16px;
  border-radius: 6px;
  text-decoration: none;
}

.button.button-primary:hover {
  background: #ab82b8;
}

.button-in-page {
  margin: 10px 0;
  display: inline-block;
}

.site-footer {
  border-top: 1px solid var(--grey-color-light);
  padding: var(--spacing-unit) 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: calc(var(--spacing-unit) / 2);
}

.site-footer img {
  height: var(--footer-image-height);
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: var(--grey-color);
  margin-left: calc(var(--spacing-unit) / -2);
}

.footer-col-wrapper::after {
  content: "";
  display: table;
  clear: both;
}

.footer-col {
  float: left;
  margin-bottom: calc(var(--spacing-unit) / 2);
  padding-left: calc(var(--spacing-unit) / 2);
}

.footer-col-1 {
  width: calc(35% - (var(--spacing-unit) / 2));
}

.footer-col-2 {
  width: calc(20% - (var(--spacing-unit) / 2));
}

.footer-col-3 {
  width: calc(45% - (var(--spacing-unit) / 2));
}

.page-content {
  padding: var(--spacing-unit) 0;
  position: relative;
}

.page-heading {
  font-size: 20px;
}

.post {
  position: relative;
}

.post-list {
  margin-left: 0;
  list-style: none;
}

.post-list > li {
  margin-bottom: var(--spacing-unit);
}

.post-meta {
  font-size: var(--small-font-size);
  color: var(--grey-color);
}

.post-link {
  display: block;
  font-size: 24px;
}

.post-speakers-name {
  color: grey;
}

@media screen and (max-width: 800px) {
  .wrapper {
    max-width: calc(var(--content-width) - var(--spacing-unit));
    padding-right: calc(var(--spacing-unit) / 2);
    padding-left: calc(var(--spacing-unit) / 2);
  }

  .footer-col-1,
  .footer-col-2 {
    width: calc(50% - (var(--spacing-unit) / 2));
  }

  .footer-col-3 {
    width: calc(100% - (var(--spacing-unit) / 2));
  }
}

@media screen and (max-width: 600px) {
  .site-nav {
    position: absolute;
    top: 9px;
    right: calc(var(--spacing-unit) / 2);
    background-color: var(--background-color);
    border: 1px solid var(--grey-color-light);
    border-radius: 5px;
    text-align: right;
  }

  .site-nav .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }

  .site-nav .menu-icon > svg {
    width: 18px;
    height: 15px;
  }

  .site-nav .menu-icon > svg path {
    fill: var(--grey-color-dark);
  }

  .site-nav .trigger {
    clear: both;
    display: none;
  }

  .site-nav:hover .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .site-nav .page-link {
    display: block;
    padding: 5px 10px;
    margin-left: 20px;
  }

  .site-nav .page-link:not(:last-child) {
    margin-right: 0;
  }

  .site-nav .button.button-primary {
    background: none;
    color: inherit;
    box-shadow: none;
  }

  .site-nav .button.button-primary:hover {
    text-decoration: underline;
    background: none;
  }

  .footer-col {
    float: none;
    width: calc(100% - (var(--spacing-unit) / 2));
  }
}
