---
layout: default
---

{% assign location = site.data.locations[page.location] %}
{% assign speaker-list = page.speakers %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <h2 class="post-date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%A, %B %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</h2>
    <h3 class="post-time">From {{ page.start_time }} to {{ page.end_time }}</h3>
  </header>

  
  <div class="post-content" itemprop="articleBody">
    <a class="page-link button button-primary button-in-page" href="#rsvp">RSVP</a>

    <div class="flex-container">
    {% for item in speaker-list %}
      {% assign speaker = site.data.speakers[item] %}
    
      <div class="speaker-info">
        {% if speaker.photo %}
          <div class="speaker-photo" style="background-image:url({{speaker.photo}});"></div>
        {% endif %}
        <span style="font-size: larger; font-weight: bold;">{{ speaker.name }}</span>
        <br />
        <span style="font-size: smaller;">{{ speaker.title }},<br>{{speaker.org}}</span>
        <br>
        {% if speaker.twitter %}
          {% include icon-twitter.html username=speaker.twitter %}
        {% else %}
        {% endif %}
      </div>
    
    {% endfor %}
    </div>
    
    
    <div>
      {{ content }}
    </div>



    <div>
      <h1>Agenda</h1>
      <ul>
        <li>8:30am - Networking</li>
        <li>9am - Speaker Presentations</li>
        <li>10am - End</li>
      </ul>
    </div>

    <div>
      <h1>Location</h1>
      <p>
        {{location.name}}<br />
        {{location.address}}
      </p>
      {{location.gmap}}
    </div>
    <h1 id="rsvp">RSVP</h1>
    
    {% if page.eventbrite != '' %}
    <div style="width:100%; text-align:left;">
      <iframe src="{{ page.eventbrite }}" frameborder="0" height="500" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
      <div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;" >
          <a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/">Powered by Eventbrite</a>
      </div>
    </div>
    {% else %}
    
    <em>RSVPs open two weeks before the event so check back soon.</em>
    
    {% endif %}
    



    <!-- <br /> -->



    <!-- If there are slides, display them -->
    {% if page.slides != '' %}
      <h1 id="slides">Slides</h1>
      <div style="width:100%; text-align:left;">
        <iframe src="https://{{ page.slides }}" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      </div>
    {% else %}
    {% endif %}

    <!-- If there is video, display -->
    {% if page.video != '' %}
      <h1 id="video">Video</h1>
      <div style="width:100%; text-align:left;">
        <iframe src="https://{{ page.video }}" frameborder="0" width="960" height="569" allow="autoplay; encrypted-media" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      </div>
    {% else %}
    {% endif %}
  </div>
</article>
